<!DOCTYPE html>
<html>
    <head>
        <title>Project 1</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <!-- <link href="../styles/mycustom.css" rel="stylesheet"> -->
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-end align-items-center mt-4 mb-5">
                <div class="col">
                    Hello {{ name }}!
                </div>
                <form action="/logout" method="post" class="col">
                    <button type="submit" class="btn btn-default btn-xs" name="quit">退出</button>
                </form>
            </div>
        </div>
        <div class="container col-6">
            <div class="row justify-content-center mt-2">
                <div class="col"><h1>BOOK INFO</h1></div>
            </div>
            <div class="row justify-content-center">
                <div class="col-2"><b>ISBN</b></div>
                <div class="col-10 text-center">{{ bookinfo.isbn }}</div>
            </div>
            <div class="row justify-content-center">
                <div class="col-2"><b>TITLE</b></div>
                <div class="col-10 text-center">{{ bookinfo.title }}</div>
            </div>
            <div class="row justify-content-center">
                <div class="col-2"><b>AUTHER</b></div>
                <div class="col-10 text-center">{{ bookinfo.auther }}</div>
            </div>
            <div class="row justify-content-center">
                <div class="col-2"><b>Year</b></div>
                <div class="col-10 text-center">{{ bookinfo.year }}</div>
            </div>
        </div>
        <!-- book reviews -->
        <div class="container col-6 mt-5">
            {% if bookreview %}
            <div class="row">
                <div class="col"><h1>BOOK COMMENTS</h1></div>
            </div>
                {% for review in bookreview %}
                    <div class="row">
                        <div class="col-2">user: {{ review.username }}</div>
                        <div class="col-2">Rate: {{ review.rate }}</div>
                        <div class="col-8">Review: {{ review.review }}</div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <!-- commit user review-->
        <div class="container col-6 mt-5">
            <div class="row">
                <div class="col"><h4>COMMIT YOUR REVIEW</h4></div>
            </div>
            <form action="/comment/{{ bookinfo.isbn }}" method="post">
                <div class="form-group row align-items-center">
                    <label for="rateChoose" class="col-2 col-form-label">Rate</label>
                    <div class="col-10">
                        <select name="rate" id="rateChoose" class="form-control">
                            <option value="1">*</option>
                            <option value="2">**</option>
                            <option value="3">***</option>
                            <option value="4">****</option>
                            <option value="5">*****</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <textarea name="review" class="form-control" rows="3"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-default" name="commit">提交</button>
            </form>
        </div>
    </body>
</html>